.stars-rating, // output anywhere
.star-rating, // old wpjmr output on comment
#wpjmr-submit-ratings .choose-rating, // wpjmr stars
.comment-form-rating .stars { // listify, woocommerce stars
	[class*="star"]:not(.star-rating-title):before {
		@include ionicon;
        content: $ionicon-var-ios-star-outline;
		font-size: 17px;
		width: auto;
		height: auto;
	}

	[class*="star"].hover:before,
	[class*="star"].active:before,
    .dashicons-star-filled:before {
		content: $ionicon-var-ios-star !important;
	}

    // wpjmr
    .dashicons {
        width: auto;
        height: auto;
        line-height: 12px;
    }
}

.content-single-job_listing-hero-company {
	.stars-rating {
		display: inline-block;
		vertical-align: middle;

        [class*="star"]:before {
            font-size: 23px;
        }
	}

    .stars-rating .dashicons-star-filled:not(.star-rating-title):before {
        color: #fff;
		content: $ionicon-var-ios-star !important;
    }

	.has-image .stars-rating {
        .dashicons:before,
	    [class*="star"]:before {
			color: #fff;
		}
    }
}

.comment-form-rating,
#wpjmr-submit-ratings.review-form-stars { // old wpjmr
	margin-bottom: 24px;

	label {
		font-size: 15px;
		display: inline-block;
		vertical-align: middle;
		min-width: 150px;
	}

	.choose-rating, // old wpjmr
	.stars {
		display: inline-block;
		vertical-align: middle;
		float: none;
        margin-left: 1em;

		[class^="star"] {
			margin-right: 2px;
            margin-top: 2px;
            display: inline-block;

			&:before {
				font-size: 23px;
			}

			&:hover::before,
			&:hover ~ .star::before,
			&.active::before,
			&.active ~ .star::before {
				content: $ionicon-var-ios-star;
			}
		}
	}
}

.single-job_listing .stars [class^="star"],
#wpjmr-submit-ratings.review-form-stars .choose-rating [class^=star] {
    float: right;
}

.commentlist #wpjmr-submit-ratings {
	display: none;
}

.comment-rating {
    margin-bottom: 1em;
}

#wpjmr-list-reviews {
    float: none;
    display: inline-block;
    margin-bottom: 1em;

	.dashicons,
	.star-rating-title {
		line-height: normal;
	}

    .star-rating {
		margin-top: -4px;
        margin-left: 1em;
        display: inline-block;
        vertical-align: middle;
    }

	.dashicons {
        line-height: 12px; // i dont even know
        width: auto;
        height: auto;
		margin: 0;
    }

    .dashicons-star-filled:before {
		content: $ionicon-var-ios-star;
    }
}

.entry-content .job-manager-reviews td {
	vertical-align: top;
}

#job-manager-review-moderate-board .star-rating {
	max-height: none;
	clear: both;
	float: left;
	margin: 0;
}

#job-manager-review-moderate-board #wpjmr-list-reviews .star-rating-title {
	margin-bottom: 0;
}

#job-manager-review-moderate-board #wpjmr-list-reviews .star-rating {
	margin-bottom: 10px;

	&:last-child {
		margin-bottom: 0;
	}
}

/* Actions */

.review-action svg {
	width: 10px;
	height: 10px;
	fill: #717A8F;
}
