// main: ../style.less

@navy: #192431;
@green: #50915d;
@light-blue: #57697f;
@royal: #046fad;
@pink: #d33865;
@yellow: #eebf23;

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Lato:400,300,700);

::selection			{ background-color: @navy; color: #fff; }
::-moz-selection	{ background-color: @navy; color: #fff; }
::-webkit-scrollbar			{ width: 14px; }
::-webkit-scrollbar-track	{ background-color: #dfdfdf; }
::-webkit-scrollbar-thumb	{ background-color: @navy; outline: none; }

.open { font-family: "Open Sans", sans-serif; }
.lato { font-family: "Lato", sans-serif; }
.transition { transition: 0.3s all ease;

   &.slow { transition: 0.5s all ease; }
}


.v-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.v-align-reset {
    position: relative;
    top: 0;
    transform: none;
}

@keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}


.wpb_wrapper .no-btm-margin     { margin-bottom: 0; }

#page {  overflow: hidden;

   .content-area { margin-bottom: 0; }
}

.vc_row-no-padding .vc_inner.container {
    margin: 0 auto;
    padding: 0;

    .vc_column_container { padding: 0 15px; }
}

body { .lato; font-size: 14px;

   a { .transition; color: @royal;

      &:hover, &:focus { color: @navy; outline: none; }
   }

}

#map_canvas { height: 550px; width: 100%; }

.page {

   #content { background-color: #fff;

      h2 { font-size: 35px; color: #222626; }
      p { line-height: 1.7; }
      a { font-weight: bold; }

      .ljm-blocs { margin: 50px 0;

         .ljm-bloc { position: relative; height: 300px;

            a { position: absolute; left: 0; width: 100%; height: 100%; z-index: 10; transition: 0.5s all ease; overflow: hidden;

               .bloc-c { transition: 0.5s all ease; position: absolute; z-index: 1; width: 100%; height: 100%; opacity: 0.9; }
               .bloc-bg { transition: 0.3s all ease; position: absolute; z-index: -1; width: 100%; height: 100%;  background-size: cover; background-repeat: no-repeat; }
               .inner-bloc { position: absolute; bottom: 15px; left: 15px; z-index: 20; color: #fff;

                  h3,h4 { .lato; font-size: 50px;  margin: 0; line-height: 45px; color: #fff; }
                  h3 { font-weight: 300; text-transform: uppercase; }
                  h4 { text-transform: lowercase; }

               }

               &:hover {

                  .bloc-c { opacity: 1; }
                  .bloc-bg { transform: scale(1.3); -webkit-transform: scale(1.3); }


               }
            }
         }
      }

      .green-row { padding: 120px 0; background-color: @green; color: #fff;

         .title-margin { margin: 0 0 50px 0; }

         h2 { .open; color: #fff; font-size: 35px; font-weight: 300; line-height: 1.2; margin: 0; }
         h3 { .open; margin: 0 0 15px 0; font-weight: 600; font-size: 13px; line-height: 1.6; }
         p { .open; }

      }

      .big-bg-cta { min-height: 750px;

         .big-text { color: #fff;

            a { color: #fff; .lato; font-weight: bold; }
            h2 { color: #fff; margin: 0 0 30px 0; font-size: 60px; .lato; font-weight: 300; }
            p { font-size: 14px; .open; line-height: 1.6; margin-bottom: 15px; }
         }
      }

      .npost-inner {

         .newest-posts { position: relative; margin-right: -60%; overflow: hidden; padding-bottom: 40px;

            .post-thumbnail { width: 100%; height: 130px; background-size: cover; background-position: center; margin: 0 0 15px 0;

            }

            .inner-meta { font-size: 14px; .lato; line-height: 1.6; margin-bottom: 15px; }
            .more { display: block; color: @royal; margin: 5px 0;

               &:hover { color: @navy; }
            }
         }

         .slick-arrow {
            position: absolute; bottom: 30px; right: 0; width: 30px; height: 30px; background-color: @green; color: #fff;
            font-size: 14px; line-height: 30px; text-align: center; font-weight: 400; cursor: pointer; z-index: 30; .transition.slow;

            &.ion-chevron-left { right: 40px; }


            &:hover { background-color: darken(@green, 10%); }
         }
      }

   }

   .wpcf7-form {

      input, textarea { width: 100%; margin: 0 0 15px 0; border-radius: 0; }
      .wpcf7-submit { background-color: @navy; color: #fff; text-transform: uppercase; transition: 0.3s all ease;

         &:hover { background-color: #080b0f; }
      }
   }
}
