// main: ../style.less

#masthead { background-color: transparent; position: absolute; width: 100%;

   .menu, .nav-menu-container { width: 100%; text-align: center; }

   .primary-header { background-color: @navy; height: 50px; min-height: 50px;

      .primary-header-inner { height: 50px; }

      ul li { margin: 0;

         a { font-size: 14px; font-weight: bold; .lato; text-transform: uppercase; padding: 0 10px; border: 1px solid transparent; line-height: 30px;

            &:hover { border-color: #fff; }
            &:focus { text-decoration: none; }
         }

         &.current-menu-item {

            a { border-color: #fff; }
         }

         &.entreprise-menu-item { float: right;

            a { border-color: #fff; }
         }
      }
   }

   .ljm-menu-wrapper { margin-top: 20px; width: 100%;

      .ljm-menu { text-align: center;

         li { margin: 0; width: 25%; float: left; .transition.slow;

            a { font-size: 21px; text-transform: uppercase; .lato; font-weight: bold; color: #fff; padding: 0; line-height: 75px;

               &:focus { text-decoration: none; }
            }

            &.recettes { background-color: @pink;

               &:hover { background-color: darken(@pink, 10%); }
            }
            &.marche { background-color: @green;

               &:hover { background-color: darken(@green, 10%); }
            }
            &.paniers { background-color: @royal;

               &:hover { background-color: darken(@royal, 10%); }
            }
            &.repertoire { background-color: @yellow;

               &:hover { background-color: darken(@yellow, 10%); }
            }
         }
      }
   }
}

.page-banner { position: relative; width: 100%; height: 550px; background-size: cover;

   .half-bg { position: absolute; left: 0; width: 50%; height: 100%; background-color: fade(#fff, 80%); }

   .container { height: 100%; padding-top: 145px;

      div { height: 100%; text-align: center; margin: 0 -30px; }
   }

   .ljm-logo { .v-align; }
}
