.listify_widget_panel_listing_map.widget {
	padding: 0;
}

.map-widget-section {
    .job_listing-phone,
    .job_listing-url,
    .job_listing-directions {
        margin-top: 1em;
    }
}

.map-widget-sections {
    @include bp(lg) {
        width: 100%;
        display: table;
    }
}


.map-widget-section {
    padding: 2.75em;
}

.map-widget-section--split {
    display: block;

    &:first-child {
        vertical-align: top;
    }

    &:last-child {
        padding-top: 0;
    }

    @include bp(lg) {
        display: table-cell;
        width: 50%;
        vertical-align: middle;

        &:last-child {
            padding-top: 2.75em;
        }
    }
}

// force when in the sidebar
.widget-area {
    .map-widget-sections {
        display: block;
        max-width: 100%;
    }

    .map-widget-section--split {
        display: block;
        width: 100%;
        max-width: 100%;

        &:last-child {
            padding-top: 0;
        }
    }
}

#listing-contact-map {
    width: 100%;
    max-width: 100%;
    height: 100%;
    position: relative;
    min-height: 235px;
}

.job_listing-get-directions {
    display: none;
    margin-top: 2em;

    .field {
        position: relative;
    }
}
