// main: ../style.less


.single-marche-public {

   .gallery {

      .main {

         .slide {
            min-height: 300px; position: relative;

            figure { position: absolute; left: 0; right: 0; top: 0; bottom: 0; background-position: center; background-size: cover; background-repeat: no-repeat; }
         }
      }

      .slides-nav {

         .slick-slide { max-width: 25%; padding: 0 10px; }
         .slick-slide img { max-width: 100%; height: auto; }
      }
   }

   .infos {

      section {
         font-size: 17px; text-transform: uppercase; .lato; font-weight: 700; background-color: #192431;
         padding: 20px; text-align: center; color: #fff; margin: 0 0 20px 0;

         span { display: block; line-height: 1.5; }
      }

      p { font-size: 15px; }
   }

   p { font-size: 15px; }

   .big-cta {
      background-color: @navy; color: #fff; display: block;
      text-align: center; padding: 20px 40px;  margin: 20px 0 50px 0;
      .lato; font-weight: 700; font-size: 30px;

      i { margin-left: 10px; }

      &:hover, &:active, &:focus { background-color: @green; text-decoration: none; }
   }
}
