/**
 * Footer
 */


/** Call to Action */

.call-to-action {
	background: #fff;
	padding: 4em 0;
}

	@include bp(sm) {
		.call-to-action {
			padding: 6em 0;
		}
	}

.cta-title {
	margin: 0 0 0.75em;
	font-size: 18px;
}

.cta-description p {
	color: #b4bcc7;
	font-size: 14px;
	line-height: 1.5;
}

	@include bp(md) {
		.cta-title {
			margin-bottom: 1em;
			font-size: 23px;
		}

		.cta-description p {
			font-size: 15px;
			line-height: 1.75;
		}
	}

.cta-description p:last-child,
.cta-description p:only-child {
	margin-bottom: 0;
}

.cta-button-wrapper {
	margin-top: 2em;
}

	@include bp(md) {
		.cta-button-wrapper {
			margin-top: 0;
			text-align: center;
		}
	}

.cta-subtext {
	font-size: 13px;
	color: #b4bcc7;
	display: block;
	margin-top: 12px;
}


/** As Seen On */

.as-seen-on {
	padding: 3em;
}

	@include bp(sm) {
		.as-seen-on {
			padding: 6em;
		}
	}

.aso-title {
	margin: 0 0 2em;
	color: #fff;
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
	text-shadow: rgba(0, 0, 0, .20) 0 1px 1px;
}

.aso-content,
.aso-content a,
.aso-content a:hover {
	text-align: center;
	color: #fff;
}

.aso-content img {
	max-width: 100%;
}

.aso-content a {
	display: inline-block;
	vertical-align: middle;
}


/** Colophon */

.site-footer {
	color: #515b6a;
	padding: 3em 0;
	background-color: #22262c;
	overflow: hidden;
}

.site-footer a {
	color: #fff;
}

.site-info {
	line-height: 26px;
}

	@include bp(sm) {
		.site-info {
			float: left;
		}

		.site-social {
			float: right;
		}
	}


/** Widgets */

.site-footer-widgets {
	background-color: #2f3339;
	padding: 6em 0;
}

.footer-widget-column {
	margin-bottom: 3em;
}

.footer-widget-column:last-child {
	margin-bottom: 0;
}

	@include bp(sm) {
		.footer-widget-column {
			margin-bottom: 0;
		}

		.footer-widget-column:first-child {
			margin-bottom: 4em;
		}
	}

	@include bp(lg) {
		.footer-widget-column {
			margin-bottom: 0;
		}
	}

.footer-widget {
	margin-bottom: 3em;

	li:before {
		margin-right: 6px;	
	}	
}

.footer-widget:last-child {
	margin-bottom: 0;
}

.footer-widget-title {
	font-size: 14px;
	text-transform: uppercase;
	margin: 0 0 1em;
}

.footer-widget,
.footer-widget a,
.footer-widget a:hover {
	color: #fff;
}

.footer-widget ul,
.footer-widget ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer-widget ul ul,
.footer-widget ol ol {
	list-style: disc;
	margin-left: 0.5em;
}


/** Social */

.site-social {
	margin-top: 1em;
}

.fixed-map .site-social {
	display: none;
}

	@include bp(sm) {
		.site-social {
			margin-top: 0;
		}
	}

.site-social ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.site-social li {
	display: inline-block;
	margin-left: 10px;
}

.site-social a {
	color: #515b6a;
	display: inline-block;
	vertical-align: middle;
}

.site-social a:before {
	@include ionicon;

	font-size: 24px;
}

.site-social a[href*="facebook.com"],
.site-social a[href*="twitter.com"],
.site-social a[href*="plus.google.com"],
.site-social a[href*="linkedin.com"],
.site-social a[href*="instagram.com"],
.site-social a[href*="pinterest.com"],
.site-social a[href*="vimeo.com"],
.site-social a[href*="tumblr.com"],
.site-social a[href*="youtube.com"],
.site-social a[href$=".rss"] {
	font-size: 0;
}

.site-social a[href*="facebook.com"]::before {
	content: '\f231';
}

.site-social a[href*="twitter.com"]::before {
	content: '\f243';
}

.site-social a[href*="plus.google.com"]::before {
	content: '\f235';
}

.site-social a[href*="linkedin.com"]::before {
	content: '\f239';
}

.site-social a[href*="instagram.com"]::before {
	content: '\f350';
}

.site-social a[href*="pinterest.com"]::before {
	content: '\f2b1';
}

.site-social a[href*="vimeo.com"]::before {
	content: '\f245';
}

.site-social a[href*="tumblr.com"]::before {
	content: '\f241';
}

.site-social a[href*="youtube.com"]::before {
	content: '\f24d';
}

.site-social a[href$=".rss"]::before {
	content: '\f245';
}
