/**
 * Job Listing Gallery
 *
 * Archive gallery and single view.
 */


/** Upload */

.gallery-preview-image,
.gallery-preview-image img {
	border-radius: 50%;
	width: 60px;
	height: 60px;
	margin: 0 6px 12px;
	display: inline-block;
	background-size: cover;
	background-position: center;
}

.gallery-preview-image img {
	max-width: 100%;
	height: auto;
	margin: 0;
}

.gallery-preview-image:nth-child(4n) {
	margin-right: 0;
}

/** Get back to the listing */

.back-to-listing {
	margin-bottom: 1.5em;
}

	@include bp(sm) {
		.back-to-listing {
			margin-bottom: 3em;
		}
	}

	@include bp(md) {
		.back-to-listing {
			margin-bottom: 4em;
		}
	}

.gallery-overlay .back-to-listing {
	display: none;
}

.back-to-listing a:before {
	margin-right: 5px;
}


/** Archive Wrapper */

/* avoid some jumping */
.content-single-job_listing-gallery-wrapper[data-columns],
.home-features-wrapper[data-columns] {
	max-width: 33.3333%;
}

.content-single-job_listing-gallery-wrapper[data-columns="1"],
.content-single-job_listing-gallery-wrapper[data-columns="2"],
.content-single-job_listing-gallery-wrapper[data-columns="3"],
.home-features-wrapper[data-columns="1"],
.home-features-wrapper[data-columns="2"],
.home-features-wrapper[data-columns="3"] {
	max-width: none;
}

.content-single-job_listing-gallery-wrapper[data-columns]::before,
.listing-by-term-wrapper[data-columns]::before,
.home-features-wrapper[data-columns]::before {
	content: '1 .col-xs-12';
	font-size: 0;
}

	@include bp(sm) {
		.content-single-job_listing-gallery-wrapper[data-columns]::before,
		.listing-by-term-wrapper[data-columns]::before,
		.home-features-wrapper[data-columns]::before {
			content: '2 .col-sm-6';
		}
	}

	@include bp(md) {
		.content-single-job_listing-gallery-wrapper[data-columns]::before,
		.listing-by-term-wrapper[data-columns]::before,
		.home-features-wrapper[data-columns]::before {
			content: '3 .col-md-4';
		}
	}

.content-single-job_listing-gallery-wrapper .type-attachment {
	margin-bottom: 2em;
	position: relative;
}

	@include bp(sm) {
		.content-single-job_listing-gallery-wrapper .type-attachment {
			margin-bottom: 2.5em;
		}
	}

.content-single-job_listing-gallery-wrapper article.type-attachment .attachment-view {
	color: #fff;
	text-shadow: none;
	border: 2px solid #fff;
	padding: 15px 40px;
	display: inline-block;
	border-radius: 4px;
	width: auto;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.content-single-job_listing-gallery-wrapper article.type-attachment .comment-count a {
	color: #fff;

	&:before {
		margin-top: -2px;
		content: '\f11d';
	}
}

/** Archive item */

.single-job_listing-attachment {
	margin-bottom: 2em;
	text-align: center;
}

	@include bp(sm) {
		.single-job_listing-attachment {
			margin-bottom: 4em;
		}
	}

.single-job_listing-attachment img,
.content-single-job_listing-gallery-wrapper .type-attachment img {
	min-width: 100%;
	max-width: 100%;
	height: auto;
	border-radius: 4px;
}

.single-job_listing-description {
    @extend .content-box;
}

.mfp-container button.mfp-arrow,
.mfp-container button.mfp-arrow:hover {
	background: none;
	box-shadow: none;
}

.mfp-arrow .mfp-a,
.mfp-arrow:after {
	border: 0;
}
