/**
 * Job Listing Single
 *
 * Hero (including company info, actions, etc), comments, widgets
 * and much more.
 */


/** Title */

.listing-cover.content-single-job_listing-hero.no-image {
	background-color: transparent;
}

.content-single-job_listing-hero-company .job_listing-title {
	font-size: 26px;
	margin: 0;
    display: inline;
}

	@include bp(sm) {
		.content-single-job_listing-hero-company .job_listing-title {
			font-size: 30px;
		}
	}

	@include bp(md) {
		.content-single-job_listing-hero-company .job_listing-title {
			font-size: 34px;
		}
	}


/** Company (location, category, etc) */

.content-single-job_listing-hero-company > div:last-of-type {
	margin-bottom: 0;
}

.content-single-job_listing-title-category,
.content-single-job_listing-hero-company .job_listing-location,
.content-single-job_listing-hero-company .job_listing-location-formatted {
	margin: 1em 0;
}

	@include bp(md) {
		.content-single-job_listing-hero-company .job_listing-location,
		.content-single-job_listing-hero-company .job_listing-location-formatted {
            line-height: 1.5;
			margin: 1.25em 0;
			font-size: 15px;
		}
	}

.job_listing-phone,
.job_listing-url,
.job_listing-directions {
	&:before {
		@include ionicon;
		text-align: center;
		font-size: 22px;
		vertical-align: middle;
		width: 24px;
	}
}

.job_listing-phone:before {
	content: '\f4b9';
}

.job_listing-url:before {
	content: '\f1fe';
}

.job_listing-directions:before {
    content: $ionicon-var-arrow-return-right;
    margin-top: -3px;
}

.content-single-job_listing-title-category .ion-chevron-right {
	vertical-align: middle;
	margin: 0 10px;
}

.company_video iframe {
	margin-bottom: 0;
}

/** Reviews */

.job_listing-rating-wrapper {
	margin-top: -3px;
}

.job_listing-rating-wrapper,
.job_listing-rating-wrapper > span {
	vertical-align: middle;
	display: inline-block;
}

.job_listing-rating-stars {
	line-height: normal;
}

.job_listing-rating-stars .star-icon {
	margin-right: 5px;
	position: relative;
}

.content-single-job_listing-hero {
	.job_listing-rating-stars .star-icon {
		font-size: 29px;
	}

	&.has-image .job_listing-rating-stars {
		.star-icon .ion-ios-star:before,
		.star-icon .ion-ios-star-half:before {
			color: #fff;
		}
	}
}

.content-single-job_listing-hero-company .job_listing-rating-average,
.content-single-job_listing-hero-company .job_listing-rating-count {
	display: none;
}

.content-single-job_listing-hero-company .job_listing-rating-count {
	font-size: 16px;
	margin-left: 8px;
}

	@include bp(sm) {
		.content-single-job_listing-hero-company .job_listing-rating-count {
			display: inline-block;
		}
	}


/** Actions */

.content-single-job_listing-hero-actions {
	margin: 1em 0;
}

	@include bp(md) {
		.content-single-job_listing-hero-actions {
			text-align: right;
			margin: 0;
			bottom: 0;
			position: absolute;
			right: 0;
		}
	}

.content-single-job_listing-hero-actions a.button {
	margin: 1em 1em 0 0;
}

	@include bp(sm) {
		.content-single-job_listing-hero-actions .button {
			margin-right: 2em;
		}
	}

.content-single-job_listing-hero-actions .button:last-of-type {
	margin-right: 0;
}

.content-single-job_listing-actions-start {
	margin-bottom: 1em;
}

.content-single-job_listing-actions-start a {
	display: block;
	margin-bottom: 8px;
}

	@include bp(sm) {
		.content-single-job_listing-actions-start a {
			margin-right: 20px;
			margin-bottom: 0;
			display: inline-block;
		}
	}

	@include bp(md) {
		.content-single-job_listing-actions-start a {
			margin-right: 0;
			margin-left: 20px;
		}
	}

.content-single-job_listing-actions-start a:last-child {
	margin-right: 0;
}

.content-single-job_listing-actions-start a i {
	font-size: 20px;
	vertical-align: middle;
	line-height: normal;
	margin: 0 6px 0 0;
	display: inline-block;
}


/** Standard Box */

.widget-title,
.comment-reply-title,
.job-manager-form h2,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.listify_widget_panel_listing_content h2,
.listify_widget_panel_listing_content h3,
.listify_widget_panel_listing_content h4,
.listing-by-term-title {
	font-size: 16px;
	margin: 1.25em 0;
	padding: 0 0 0.75em;
	border-bottom: 2px solid #e9edf2;
}

.widget-title,
.comment-reply-title {
	margin-top: 0;
}

.widget-title:before,
.comment-reply-title span,
.job-manager-form:before,
.entry-content h2:before,
.entry-content h3:before,
.entry-content h2 [class^="ion"],
.entry-content h2 [class^=" ion"],
.entry-content h3 [class^="ion"],
.entry-content h3 [class^=" ion"],
.listing-by-term-title:before {
	font-size: 26px;
	vertical-align: middle;
	margin-right: 10px;
	margin-top: -4px;
}

/** Description */

.widget.listify_widget_panel_listing_content {
	ol,
	ul {
		list-style-position: inside;
	}

	ul {
		list-style-type: disc;
	}
	
	ol {
		list-style-type: decimal;
	}
}


/** Comments */

.widget .commentlist {
	margin-bottom: 4em;
}

.comment-reply-title small {
	float: right;
}

.comment-reply-title small a  {
	color: #A00;
}

.comment-form label {
	display: block;
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form textarea {
	width: 100%;
}

.comment-form .form-submit {
	margin-bottom: 0;
}

.comment-author .avatar {
	height: auto;
	border-radius: 50%;
}

.comment .rating-stars .star-icon {
	font-size: 14px;
    margin-right: 2px;
}

.comment-sorting {
	font-size: 15px;
}

.comment-sorting,
.comment-sorting-filter-wrapper,
.comment-sorting-filter-form,
.single-comment-rating,
.comment-rating,
.rating-stars {
	margin: 0;
	vertical-align: middle;
	display: inline-block;
}

.single-comment-rating {
    margin-top: -8px;

    .comment-rating {
        margin-right: 8px;
    }
}

.comment-sorting-filter-wrapper {
	margin-left: 1em;
}

.comment-sorting-filter {
	min-width: 175px;
}

.widget .commentlist {
	margin: 4em 0 6em;
}

.gallery-overlay .widget .commentlist,
.single-attachment .widget .commentlist {
	margin-top: 0;
	margin-bottom: 4em;
}

/* Comment */

.commentlist {
	list-style: none;
	margin: 2em 0;
}

.commentlist article.comment {
	margin-bottom: 5em;
}

.commentlist article.comment ~ .children {
	margin-top: -2em;
}

.comment-content {
	line-height: 1.75em;

	p {
		clear: both;
	}
}

.comment-author {
	display: none;
}

	@include bp(sm) {
		.comment-author {
			display: block;
		}
	}

.comment-content cite {
	font-style: normal;
}

.comment-content .fn {
	font-size: 15px;
	font-weight: 400;
}

.listing-owner {
	color: #fff;
	font-size: 10px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	padding: 2px 4px;
	border-radius: 3px;
}

.comment-content .comment-meta {
	margin: 1em 0;
}

.comment-meta a {
	color: #b4bcc7;
	font-size: 17px;
	line-height: 1;
	margin-right: 10px;
}

.comment-meta a i {
	line-height: 1;
}

.commentlist a.comment-ago {
	color: #B4BCC7;
	margin: 1.5em 0 0;
	display: block;
}

.comment-rating,
.job_listing-rating-average {
	color: #fff;
	font-size: 11px;
	text-align: center;
	line-height: 36px;
	border-radius: 50%;
	width: 36px;
	height: 36px;
}

.commentlist .comment-respond {
	margin: -2em 0 5em;
}

.commentlist .children {
	list-style: none;
	padding-left: 2em;
	margin-top: -2em;
	border-left: 2px solid #E9EDF2;
}

/* Rating */

.star-rating-wrapper {
	margin-bottom: 1em;
}

.commentlist .comment-respond .star-rating-wrapper {
	display: none;
}

.star-rating-label,
.comment-form-rating label {
	font-size: 16px;
	margin-right: 8px;
}

.star-rating-label {
	display: inline-block;
	vertical-align: middle;
}


/** Widgets */

/* Social */

.widget-job_listing .ion-social-twitter:hover {
	background-color: #55acee;
}

.widget-job_listing .ion-social-facebook:hover {
	background-color: #3b5998;
}

.widget-job_listing .ion-social-googleplus:hover,
.widget-job_listing .ion-social-jabber:hover {
	background-color: #dd4b39;
}

.widget-job_listing .ion-social-pinterest:hover {
	background-color: #cc2127;
}

.widget-job_listing .ion-social-linkedin:hover {
	background-color: #0976b4;
}

.widget-job_listing .ion-social-github:hover {
	background-color: #000000;
}

.widget-job_listing .ion-social-instagram:hover {
	background-color: #3f729b;
}


/* Gallery */

.listify_widget_panel_listing_gallery.has-more {
	padding-bottom: 4.5em;
}

.widget .listify-gallery-images {
	margin: 0 -6px -12px;
	overflow: hidden;
}

.go-to-gallery {
	font-size: 50px;
	display: block;
	line-height: 50px;
	position: absolute;
	width: 100%;
	left: 0;
	text-align: center;
}

/* Tags */

.listify_widget_panel_listing_tags a:before,
.job-package-includes li:before {
	@include ionicon;
	margin-right: 4px;
    vertical-align: middle;
}

.listify_widget_panel_listing_tags a:before {
    font-size: 23px;
    margin: -2px 7px 0 0;
}

.job-package-includes li:before {
	content: '\f120';
}

/** correct some line height */
.job_listing_tag-list {
    margin-bottom: -1em;
}

.listify_widget_panel_listing_tags a {
	@extend .ellipseit;
	position: relative;
	display: inline-block;
	margin-right: 20px;
}

	@include bp(sm) {
		.site-main .listify_widget_panel_listing_tags a {
			width: 45%;
            margin-right: 10%;

            &:nth-of-type(2n) {
                margin-right: 0;
            }
		}
	}

	@include bp(md) {
		.site-main .listify_widget_panel_listing_tags a {
			width: 22%;
            margin-right: 4%;

            &:nth-of-type(2n),
            &:nth-of-type(3n) {
                margin-right: 4%;
            }

            &:nth-of-type(4n) {
                margin-right: 0;
            }
		}
	}


/* Map */


/* Business Hour */

p.business-hour {
	margin: 0 0 0.75em;
}

p.business-hour .business-hour-time {
	float: right;
}

/** Add a Photo */

.listify-add-to-gallery input[type="submit"] {
	width: 100%;
	margin-top: 15px;
}

#listify-new-gallery-additions.listify-gallery-images {
	margin: 1.75em 0;
	overflow: hidden;
	list-style: none;
	display: none;
}

a.upload-images,
a.upload-images span {
	display: block;
	text-align: center;
}

.upload-images {
	border: 2px dashed #cfd5dc;
	border-radius: 10px;
	padding: 1.5em 2em 1em;
	margin: 3em auto 0;

	i {
		font-size: 100px;
		display: block;
		line-height: 1;
	}
}

	@include bp(sm) {
		.upload-images {
			padding-left: 6px;
			padding-right: 6px;
		}
	}


/** Author */

.job_listing-author-avatar {
	margin-bottom: 1.5em;
}

.job_listing-author-avatar img {
	width: 105px;
	height: 105px;
	border-radius: 50%;
	display: block;
	margin: 0 auto;
}

.job_listing-author-info {
	text-align: center;

    h3.widget-title {
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 0;
    }

	.job_listing-author-descriptor {
		display: block;
		margin: 1em 0;
	}
}

.job_listing-author-info-more {
	margin: 1em 0;

	a {
        font-size: 23px;
		text-align: center;
		color: #fff;
		width: 40px;
		height: 40px;
		line-height: 40px;
		display: inline-block;
		border-radius: 50%;
	}

	span {
		color: #fff;
	}
}


/** Application */

.job_listing-author-info .job_application .application_button,
.job_listing-author-info .job_application.application,
.mfp-content .application_button {
	display: none;
}

.mfp-content .application_details {
	display: block !important;
}

.mfp-content .application_details p:last-child {
	margin-bottom: 0;
}


/** Preview */

.job_listing_preview_title {
	overflow: hidden;

	input[name="edit_job"] {
		float: left;
	}

	h2 {
		display: none;
	}
}

#job_preview_submit_button {
	float: right;
}

.job_listing_preview.single-job_listing {
	margin-top: 1em;

	> h1:first-child {
		display: none;
	}

	.listing-cover {
		padding-left: 2em;
		padding-right: 2em;
	}
}

	@include bp(sm) {
		.job_listing_preview.single-job_listing {
			margin-top: 3em;
		}
	}

#main.preview-listing {
	width: 100%;
	margin: 0;

	.content-box.content-box-wrapper {
		background: none;
		box-shadow: none;
	}

	.content-box-inner {
		padding: 0;
	}
}

/** Recent Listings */

.single-job_listing .listify_widget_recent_listings {
	background: none;
	box-shadow: none;
	padding: 0;

	.widget-title {
		border-bottom: 0;
		padding-bottom: 0;
	}

	.home-widget-description {
		display: none;
	}

	.job_listings {
		margin: 0 -15px;
	}
}
