/**
 * Page
 */

#ajax-response {
	display: none;
}

.entry-content,
.entry-summary,
.page-title,
.comment-content,
.widget {
	-webkit-hyphens: auto;
	-moz-hyphens:    auto;
	-ms-hyphens:     auto;
	hyphens:         auto;
	word-wrap: break-word;
}

.page-cover {
	padding: 0;
}

.page-cover.no-image {
	background-color: transparent;
}

.page-title {
	font-size: 20px;
	margin: 0;
	padding: 2em 0;
	text-align: center;
}

	@include bp(sm) {
		.page-title {
			padding: 2em 0;
		}
	}

.page-cover.no-image .page-title {
	padding-top: 2em;
	padding-bottom: 1em;
}

.tertiary-enabled .page-cover.no-image .page-title {
	padding-bottom: 2em;
}

	@include bp(sm) {
		.page-cover.no-image .page-title {
			padding-bottom: 0.5em;
		}
	}


/** Entry Header */

.content-single-hero.no-cover .page-title,
.hentry .entry-header {
	padding: 0;
}

.entry-header .entry-title {
	margin: 0;
	padding: 0;
	word-break: break-word;
}

.entry-header .entry-title a {
	font-size: 20px;
	text-align: center;
	margin: 0;
	padding: 4em;
	display: block;
}

	@include bp(md) {
		.entry-header .entry-title a {
			font-size: 26px;
		}
	}


/** Entry Meta */

.entry-meta {
	margin: 0 0 1.5em;
}

.entry-meta > span {
	width: 49%;
	display: inline-block;
	margin-bottom: 10px;
}

	@include bp(sm) {
		.entry-meta > span {
			margin-right: 1.25em;
			width: auto;
		}
	}

.entry-meta > span:before {
	@include ionicon;
	margin: -4px 3px 0 0;
	vertical-align: middle;
	display: inline-block;
}

.entry-meta .entry-author img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: inline-block;
	margin: -2px 5px 0 0;
}

.entry-date:before {
	content: '\f117';

	font-size: 16px;
}

.entry-comments:before {
	content: '\f11d';
	font-size: 18px;
}

.entry-share .ion-share:before {
	content: '\f220';
	font-size: 18px;
	margin-top: -5px;
	vertical-align: middle;
}

.entry-content h3 {
	font-size: 15px;
}

.entry-content h4 {
	font-size: 14px;
}

.entry-content th,
.entry-content td {
	vertical-align: middle;
}


/** Entry Footer */

.entry-footer {
	margin-top: 2em;
}

.entry-footer .button.button-small,
.button[name="apply_coupon"] {
	font-size: 14px;
	padding: 12px 30px;
}

.entry-footer .button.button-small:hover,
.button[name="apply_coupon"]:hover {
	box-shadow: inset 0 -3px 0 rgba(0, 0, 0, .05);
}


/** Pagination */

.content-pagination {
	margin: 2em 0 4em;
}

.author.archive .content-pagination {
	margin-top: 0;
}

	@include bp(sm) {
		.content-pagination {
			margin-top: 4em;
		}
	}

a.page-numbers,
span.page-numbers,
.job-manager-pagination li > *,
.facetwp-pager .facetwp-page {
	margin-right: 8px;
	box-shadow: rgba(0, 0, 0, 0.05) 0 2px 0;
}


/** Password Protection */

.post-password-form input[type="password"] {
	width: 100%;
}

.post-password-form input[type="submit"] {
	margin-top: 1em;
}


/** Misc */

.sticky,
.gallery-caption,
.bypostauthor {
	width: auto;
}
