/**
 * Patterns
 *
 * Reusable or global items that are throughout the site.
 */

/* Placeholder text color -- selectors need to be separate to work. */

::-webkit-input-placeholder {
	color: #939393;
}

:-moz-placeholder {
	color: #939393;
}

::-moz-placeholder {
	color: #939393;
	opacity: 1; /* Since FF19 lowers the opacity of the placeholder by default */
}

:-ms-input-placeholder {
	color: #939393;
}

/* Make sure embeds and iframes fit their containers */

embed,
iframe,
object,
video {
	margin-bottom: 24px;
	max-width: 100%;
}

p > embed,
p > iframe,
p > object,
span > embed,
span > iframe,
span > object {
	margin-bottom: 0;
}

/* Alignment */

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

blockquote.alignleft,
img.alignleft {
	margin: 7px 24px 7px 0;
}

.wp-caption.alignleft {
	margin: 7px 14px 7px 0;
}

blockquote.alignright,
img.alignright {
	margin: 7px 0 7px 24px;
}

.wp-caption.alignright {
	margin: 7px 0 7px 14px;
}

blockquote.aligncenter,
img.aligncenter,
.wp-caption.aligncenter {
	margin-top: 7px;
	margin-bottom: 7px;
}

.site-content blockquote.alignleft,
.site-content blockquote.alignright {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding-top: 17px;
	width: 50%;
}

.site-content blockquote.alignleft p,
.site-content blockquote.alignright p {
	margin-bottom: 17px;
}

.wp-caption {
	margin-bottom: 24px;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0;
}

.wp-caption {
	color: #767676;
}

.wp-caption-text {
	font-size: 12px;
	font-style: italic;
	line-height: 1.5;
	margin: 9px 0;
	padding-right: 10px;
}

.wp-smiley {
	border: 0;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Assistive text */

.screen-reader-text,
.site-description {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	line-height: normal;
	padding: 15px 23px 14px;
	position: absolute;
	left: 5px;
	top: 5px;
	text-decoration: none;
	text-transform: none;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

.hide {
	display: none;
}

/* Search Form */

.search-form {
	position: relative;
}

.search-form .search-field {
	padding-left: 50px;
}

.search-form .search-submit,
.search-form .search-submit:hover {
	position: absolute;
	top: 0;
	left: 5px;
	width: 44px;
	height: 44px;
	background: none;
	box-shadow: none;
	padding: 0;
}

.search-form .search-submit:before {
	@include ionicon;
	color: #b4bcc7;
	font-size: 24px;
	content: '\f2f5';
	vertical-align: middle;
}


/* Covers */

.listing-cover,
.entry-cover {
	padding: 5em 0 3em;
	background-size: cover;
	background-position: center;
	position: relative;
}

.list-cover {
	background-size: cover;
	background-position: center;
	width: 60px;
	height: 60px;
}

	@include bp(sm) {
		.listing-cover {
			padding: 8em 0 3em;
		}
	}

	@include bp(md) {
		.listing-cover.has-image {
			padding: 16em 0 5em;
		}
	}

.listing-cover.has-image:after,
.entry-cover.has-image:after {
	content: ' ';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, .45);
	z-index: 5;
}

	@include bp(sm) {
		.listing-cover.has-image:after,
		.entry-cover.has-image:after {
			overflow: hidden;
		}
	}

.listing-cover .cover-wrapper,
.entry-cover .cover-wrapper {
	position: relative;
	z-index: 10;
}

.listing-cover.has-image,
.listing-cover.has-image a,
.entry-cover.has-image,
.entry-cover.has-image a {
	color: #fff;
	text-shadow: rgba(0, 0, 0, .80) 0 1px 0;
}

/* Clearing floats */

.clear:before,
.clear:after,
.job_listings:before,
.job_listings:after,
.content-box:before,
.content-box:after,
.search_jobs:before,
.search_jobs:after,
.widget:before,
.widget:after,
.archive-job_listing-filter-title:before,
.archive-job_listing-filter-title:after,
.job_listing-entry-header-wrapper:before,
.job_listing-entry-header-wrapper:after {
	content: "";
	display: table;
}

.clear:after,
.job_listings:after,
.content-box:after,
.search_jobs:after,
.widget:after,
.archive-job_listing-filter-title:after,
.job_listing-entry-header-wrapper:after {
	clear: both;
}


/** Toggle Areas */

.js-toggle-area-trigger {
	margin: 1em 0;
	position: relative;
	display: block;
	background: #fff;
}

.js-toggle-area-trigger.active:after {
	@include ionicon;
	content: "\f126";
}

.js-toggle-area,
.job_filters {
	display: none;
}

.js-toggle-area.active,
.job_filters.active {
	display: block;
}

	@include bp(md) {
		.js-toggle-area-trigger {
			display: none;
		}

		.js-toggle-area,
		.job_filters {
			display: block;
		}
	}

table th { font-weight: bold; }
table td, table th { padding: 9px 10px; text-align: left; }

/* Mobile */
@media only screen and (max-width: 767px) {

	table.responsive { margin-bottom: 0; }

	.pinned { position: absolute; left: 0; top: 0; background: #fff; width: 35%; overflow: hidden; overflow-x: scroll; border-right: 1px solid #ccc; border-left: 1px solid #ccc; }
	.pinned table { border-right: none; border-left: none; width: 100%; }
	.pinned table th, .pinned table td { white-space: nowrap; }
	.pinned td:last-child { border-bottom: 0; }

	div.table-wrapper { position: relative; margin-bottom: 20px; overflow: hidden; border-right: 1px solid #ccc; }
	div.table-wrapper div.scrollable { margin-left: 35%; }
	div.table-wrapper div.scrollable { overflow: scroll; overflow-y: hidden; }

	table.responsive td, table.responsive th { position: relative; white-space: nowrap; overflow: hidden; }
	table.responsive th:first-child, table.responsive td:first-child, table.responsive td:first-child, table.responsive.pinned td { display: none; }


}
